*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
 }
  
.clear{
    clear: both;
}
.text-white{
    color:#fff !important;
}
.mt-8px{
    margin-top: 8px !important;
}
.mt-16px{
    margin-top: 16px !important;
}
.mt-32px{
    margin-top: 32px !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col{
    padding-left: 8px;
    padding-right: 8px;
    float:left;
}
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}
.col-third{
    width:calc(100% /3);
}
.text-center{
    text-align: center;
}
.row::after{
    content: "";
    display: block;
    clear:both;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

#main{

}

#header{
     height:55px;
     background-color: #000;  
     top:0;
    width: 100%;
     position: fixed;
     z-index: 1;  /* đè trang lên 1 trang khác*/
    
}
#nav{
    display: inline-block;
}

    
#nav >li >a{
    text-transform: uppercase;
    color:#ccc;
}
#nav li{
    display: inline-block;
    position: relative;
}

#nav li a{
    text-decoration: none; 
    color:#fff;
    line-height: 46.4px;
    padding: 5px 23.2px;
    display: inline-block;
}
#nav li:hover .subnav{
    display: block;
}
#nav li:hover >a{
    color:black;
    background-color: #ccc;
}

#nav .nav-arrow-down {
    font-size: 12px;
}


#nav .subnav{
     display: none;
    position:absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav >li{
    width:100%;
    display: block;
}
#nav .subnav a{
    color:black;
    width: 100%;
    line-height: 38px;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn{
    float:right;
    padding:3px 20px;
    cursor: pointer;

}
#header .mobile-menu-btn:hover{
    background-color: #ccc !important;
}
#header .search-btn:hover{
    background-color: #f44336!important;
}
#header .mobile-menu-btn:hover .menu-icon{
    color:#333;
}
#header .menu-icon,
#header .search-icon{
    font-size: 20px;
    color: #fff;
    line-height: 55px;
}

#slider{
    margin-top: 55px;
    position: relative;
    padding-top:50%;
    background: url(/assets/img/slider1/chicago.jpg) top center /cover no-repeat;  
}
#slider .text-content{
    position: absolute;
    bottom: 45px;
    color:#fff;
    left:50%;
    transform: translateX(-50%);
    text-align: center;

}

#slider .text-heading{
    font-weight: 400;
    font-size: 25px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 20px;

}


#content{
   
    
}
#content .content-section{
    width:800px;
    max-width: 100%;
    padding: 64px 0 128px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
    
#content .section-heading{
           text-align: center;
           font-size: 30px;
           font-weight: 500; /* độ dày của chữ*/
           letter-spacing: 4px; /* khoảng cách giữa các chữ trong 1 từ */
            
}

#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;  /*chữ nghiêng */
    opacity: 0.6;/*độ trong suốt của chữ */

}
#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify; /* căn đều 2 bên  */
    line-height: 1.6;
}
#content .member-list{
    margin-top: 32px;
    /* overflow: hidden; */


}

#content .member-Name{
    font-size: 15px;
    
}
#content .member-img{
    margin-top: 15px;
    width: 180px;
    border-radius: 3px;
}
#content .tour-section{
    background-color: #000;
    height: 850px;
    margin: 0 70px;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;;
}
.tickets-list li{
    font-size: 15px;
    padding: 16px 28px;
    border-bottom: 4px solid #ddd;
    
}
.tickets-list .sold-out{
    color: #fff;
    padding: 3px 4px;
    background-color: #f44336;
    margin-left: 35px;
    padding: 7px;
  

}
.tickets-list .quantity{
    float:right;
    width: 24px;
    height: 24px;
    background-color:#000;
    color: #fff;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
}
.place-list{
   margin-top: 16px;
   margin-bottom: 42px;
   
}



.place-img{
    width: 100%;
    display: block;


}
.place-img:hover{
    opacity: 0.6;
}

.place-body{
     background-color: #fff;
     padding:16px;
     font-size: 15px;

}

.place-heading{
    font-size: 15px;
    
    color: black;
}

.place-time{
    margin-top: 15px;

}

.place-desc{
    margin-top: 15px;

}

.btn{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding:8px 16px;
    display: inline-block;
    margin-top: 12px;
    border: none;

}
.btn:hover{
    color:#333;
    background-color: #ddd;
}
.sub-content{
    margin-top: 64px;
}

.contact-content
{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.6;
}
.contact-info i{
     width: 30px;
     display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control
{
    border: 1px solid #ccc;
    padding: 16px;
    width: 100%;
}
.form-submit-btn:hover{
    color:#333;
    background: #ddd;
    cursor: pointer;
}
 .form-submit-btn{
    background: #000;
    color:#fff;
    border: none;
    padding: 12px 17px;
    float:right;
   
}
.map-section img{
    width: 100%;

}
#footer{
    padding: 64px 16px;
    text-align: center;

} 
#footer .socials-list{
    font-size: 24px;
}
.socials-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}
.socials-list a:hover{
    color: rgba(0, 0, 0, 0.3);
}
#footer .copyright {
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.7);
}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.7);
}
#footer .copyright a:hover{
    color: rgba(0, 0, 0, 0.3);
}






.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open{
    display: flex;
}
.modal-container{
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    animation:modalfaceIn ease 0.4s ;
}



.modal-header {
    height: 130px;
    background: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}
.modal-heading-bag{
    margin-right: 16px;
}
.modal-close:hover{
    color:#000;
    background: #ddd;
}
.modal-close{
    position: absolute;
    right: 0;
    top:0;
    color:#fff;
    padding: 12px;
    cursor: pointer;
}
.modal-body{
    padding: 16px;
}

.modal-lable{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    border: 2px solid #ddd;
    width: 100%;
    font-size: 15px;
    padding: 12px;
    margin-bottom: 24px;
}
#buy-tickets:hover{
    color:#000;
    background: chocolate;
}
#buy-tickets {
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    padding: 16px;
    text-transform: uppercase;
}
.modal-footer{
    padding: 16px;
    text-align: right;

}
.modal-footer a{
    color: #2196F3;
}

@keyframes modalfaceIn{
    from{
        transform: translateY(-140px);
        opacity: 0.6;
    }
    to{
        transform: translateY(5px);
        opacity: 1;

    }
}